<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <h1>Test</h1>
    <form action="/files/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="displayName">
        <input type="file" name="image">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>